body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(IMG-2310.jpg);
  background-size: cover;
}

footer {
  max-width: 50%;
  font-size: x-small;
}
#img {
  max-width: 5%;
}

li {
  color: rgb(135, 135, 135);
  font-size: 12px;
  line-height: 13px;
}
li::first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app,
.forecast {
  padding: 25px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: lightgray;
}

h1 {
  color: black;
  font-weight: 500;
  font-size: 38px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 10px;
}
.units {
  color: rgb(135, 135, 135);
}
.location {
  margin-bottom: 20px;
  margin-top: 10px;
}

.weather-temperature .units {
  position: relative;
  top: -35px;
}
.weather-temperature img {
  width: 80px;
  position: relative;
  top: -10px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
}

.forecast {
  margin-top: 20px;
  text-align: center;
}
.forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.forecast-temp {
  font-size: 13px;
}
.temp-low {
  opacity: 0.6;
}
